{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path('dcs_security_login_check') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />

    {% if csrf.enable %}
        <input type="hidden" name="{{ csrf.parameter }}" value="{{ csrf_token(csrf.id) }}">
    {% endif %}

    <button type="submit">login</button>
</form>